/* Footer Styles */
footer {
    position: relative;
    background-color: #242424;
    display: flex;
    padding: 6% 0;
  }
  
  .footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer__logo--img {
    width: 100%;
    max-width: 300px;
  }
  
  .footer__social--list {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    margin: 28px 0;
  }
  
  .footer__social--link,
  .footer__copyright {
    color: white;
  }
  
  .footer__logo--popper {
    position: absolute;
    right: 0;
    top: 16px;
    font-weight: 700;
    opacity: 0;
    transition: all 300ms ease;
    color: white;
  }
  
  .footer__anchor {
    position: relative;
  }
  
  .footer__anchor:hover .footer__logo--popper {
    transform: translateX(60px);
    opacity: 1;
  }
  