/* Landing Page Styles */
#landing-page {
    min-height: 100vh;
  }
  
  .scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .scroll__icon {
    width: 20px;
    height: 30px;
    border: 2px solid #242424;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .scroll__icon:after {
    content: "";
    width: 4px;
    height: 6px;
    background-color: #242424;
    border-radius: 2px;
    animation: scroll 1000ms infinite alternate-reverse;
  }
  
  @keyframes scroll {
    0% {
      transform: translateY(3px);
    }
  
    100% {
      transform: translateY(-3px);
    }
  }
  