/* Modal Styles */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    z-index: -1;
    transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
  }
  
  .modal--open .modal {
    display: flex;
    z-index: 60;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
    visibility: visible;
  }
  
  .modal__half {
    width: 50%;
    padding: 40px 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: all 300ms ease-in;
  }
  
  .modal__about {
    background-color: rgb(245, 245, 245);
    transform: translateX(-110%);
  }
  
  .modal__contact {
    transform: translateX(110%);
    background-color: #0a001b;
    color: white;
  }
  
  .modal__title {
    font-size: 26px;
  }
  
  .modal__sub-title {
    margin: 12px 0 24px 0;
    font-size: 14px;
    line-height: 1.75;
    font-family: 'nobel', sans-serif;
  }
  
  .modal__para {
    margin-bottom: 12px;
    line-height: 1.75;
  }
  
  .form__item {
    margin-bottom: 20px;
  }
  
  .form__submit {
    background-color: #7549f0;
    border: 2px solid #7549f0;
    color: white;
    font-weight: 700;
    width: 100%;
    max-width: 240px;
    padding: 12px 24px;
    font-size: 20px;
    transition: all 300ms ease;
  }
  
  .form__submit:hover {
    border-color: #fff;
    background-color: transparent;
  }
  
  .form__submit:active {
    border-color: #7549f0;
    color: #7549f0;
  }
  
  .modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: -1;
  }
  
  .modal__overlay--loading {
    background-color: #242424;
    font-size: 80px;
  }
  
  .modal__overlay--success {
    background-color: #4bb543;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 28px;
  }
  
  .modal__overlay--visible {
    z-index: 1;
    display: flex;
  }
  
  .fa-spinner {
    animation: spinner 750ms infinite linear;
  }
  
  @keyframes spinner {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .modal__exit {
    position: absolute;
    top: 30px;
    right: 40px;
    color: #fff;
    font-size: 36px;
    z-index: 100;
  }
  